// ==========================================================================
// Intro
// ==========================================================================

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.

$imported-global-settings: false !default;

@if ($imported-global-settings == false) {
  @warn "Oops! Have you included global settings files?";
}

.c-intro {
  display: table;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

.c-intro__content {
  display: table-cell;
  vertical-align: middle;
}
